@media screen and (max-width: 480px) {
  h1,
  h2 {
    margin-bottom: 0.5rem;
  }
  
}

@media screen and (min-height: 800px) {
  .product-filter {
    position: sticky;
    top: 0;
  }
}
.product-filter {
  display: flex;
  padding: 30px 1rem;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(184, 184, 184);
}

.product-filter > * {
  text-shadow: 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white,
    0 0 2px white, 0 0 10px white;
}

h1 {
  flex: 0;
}
